.c-btn {
    display: flex;
    gap: 5px;
    padding: 12px 32px;
    border: none;
    transition: all 200ms ease;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    transition: all 200ms ease;
    width: fit-content;
    font-size: 14px;
    cursor: pointer;

    .icon {
        width: 1.25em;
    }
}

.c-btn--primary {
    background-color: var(--smartclick-color-primary);
    color: var(--smartclick-color-light);
    
    &:hover, &:active, &:focus {
        transform: scale(1.025);
        color: var(--smartclick-color-light);
        background-color: var(--smartclick-color-primary-darker);
        outline: none;
    }

    &:focus {
        transform: scale(1.025);
        box-shadow: 0 0 0 3px hsla(229, 80%, 57%, .25);
    }
}