textarea {
    background-color: var(--smartclick-color-light);
    border: 1px solid var(--smartclick-color-grey-300);
    border-radius: 0;
    resize: none;
    transition: all 200ms ease;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
    padding: 8px 12px;
    font-weight: 300;

    &:hover {
        border-color: var(--smartclick-color-primary);
    }

    &:focus {
        outline: none;
        border-color: var(--smartclick-color-primary);
        box-shadow: 0 0 0 3px hsla(229, 80%, 57%, .25);
    }
}