:root {
  --smartclick-color-primary-darker: #1a3fe6;
  --smartclick-color-primary: #3a5ae9;
  --smartclick-color-grey-900: #333;
  --smartclick-color-grey-800: #595959;
  --smartclick-color-grey-700: #737373;
  --smartclick-color-grey-600: #8c8c8c;
  --smartclick-color-grey-500: #999;
  --smartclick-color-grey-400: #b3b3b3;
  --smartclick-color-grey-300: #c7c7c7;
  --smartclick-color-grey-200: #e0e0e0;
  --smartclick-color-grey-100: #fafafa;
  --smartclick-color-light: #fff;
  --smartclick-color-dark: #000;
}

.dashicons-admin-smartclick {
  background-image: url("smartclick-icon.f34321a9.png");
  background-position: 56%;
  background-repeat: no-repeat;
  background-size: 11px;
}

.toplevel_page_smartclick-tools *, .toplevel_page_smartclick-tools :before, .toplevel_page_smartclick-tools :after {
  box-sizing: border-box;
}

.toplevel_page_smartclick-tools figure, .toplevel_page_smartclick-tools blockquote, .toplevel_page_smartclick-tools dl, .toplevel_page_smartclick-tools dd {
  margin: 0;
}

.toplevel_page_smartclick-tools ul[role="list"], .toplevel_page_smartclick-tools ol[role="list"] {
  list-style: none;
}

.toplevel_page_smartclick-tools #wpwrap {
  background-color: var(--smartclick-color-grey-100);
}

.toplevel_page_smartclick-tools #wpcontent {
  padding: 0;
}

.toplevel_page_smartclick-tools h1, .toplevel_page_smartclick-tools h2, .toplevel_page_smartclick-tools h3, .toplevel_page_smartclick-tools h4, .toplevel_page_smartclick-tools h5, .toplevel_page_smartclick-tools h6 {
  font-weight: 500;
}

.sm-tracker {
  width: 100%;
  overflow: hidden auto;
}

.sm-tracker .container {
  padding-inline: 20px;
}

.sm-tracker__header {
  background-color: var(--smartclick-color-light);
  border-bottom: 1px solid var(--smartclick-color-grey-300);
  justify-content: space-between;
  align-items: center;
  padding-block: 20px 16px;
  display: flex;
}

.sm-tracker__header img {
  max-width: 200px;
}

.sm-tracker__content {
  margin-top: 24px;
}

.sm-tracker__content .c-btn {
  margin-block: 12px;
}

.sm-tracker__content textarea {
  height: 200px;
}

.c-btn {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  gap: 5px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.c-btn .icon {
  width: 1.25em;
}

.c-btn--primary {
  background-color: var(--smartclick-color-primary);
  color: var(--smartclick-color-light);
}

.c-btn--primary:hover, .c-btn--primary:active, .c-btn--primary:focus {
  color: var(--smartclick-color-light);
  background-color: var(--smartclick-color-primary-darker);
  outline: none;
  transform: scale(1.025);
}

.c-btn--primary:focus {
  transform: scale(1.025);
  box-shadow: 0 0 0 3px #3a5ae940;
}

textarea {
  background-color: var(--smartclick-color-light);
  border: 1px solid var(--smartclick-color-grey-300);
  resize: none;
  border-radius: 0;
  width: 100%;
  max-width: 500px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 300;
  transition: all .2s;
}

textarea:hover {
  border-color: var(--smartclick-color-primary);
}

textarea:focus {
  border-color: var(--smartclick-color-primary);
  outline: none;
  box-shadow: 0 0 0 3px #3a5ae940;
}

/*# sourceMappingURL=admin.css.map */
