/* variables */
:root {
  --smartclick-color-primary-darker: hsl(229, 80%, 50%);
  --smartclick-color-primary: hsl(229, 80%, 57%);

  --smartclick-color-grey-900: hsl(0, 0%, 20%);
  --smartclick-color-grey-800: hsl(0, 0%, 35%);
  --smartclick-color-grey-700: hsl(0, 0%, 45%);
  --smartclick-color-grey-600: hsl(0, 0%, 55%);
  --smartclick-color-grey-500: hsl(0, 0%, 60%);
  --smartclick-color-grey-400: hsl(0, 0%, 70%);
  --smartclick-color-grey-300: hsl(0, 0%, 78%);
  --smartclick-color-grey-200: hsl(0, 0%, 88%);
  --smartclick-color-grey-100: hsl(0, 0%, 98%);

  --smartclick-color-light: #fff;
  --smartclick-color-dark: #000;
}

.dashicons-admin-smartclick {
  background-image: url('../../admin/images/smartclick-icon.png');
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: 56%;
}

.toplevel_page_smartclick-tools {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* semove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  #wpwrap {
    background-color: var(--smartclick-color-grey-100);
  }

  #wpcontent {
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}