.sm-tracker {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .container {
        padding-inline: 20px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 20px 16px;
        background-color: var(--smartclick-color-light);
        border-bottom: 1px solid var(--smartclick-color-grey-300);

        img {
            max-width: 200px;
        }
    }

    &__content {
        margin-top: 24px;

        .c-btn {
            margin-block: 12px;
        }

        textarea {
            height: 200px;
        }
    }
}